.App {
    /*margin: 0 auto;*/

    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    "top"
    "mid"
    "bot";

    position: relative;
}
